{% extends "base.html" %}
{% block title %}Group 5{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Server IP</th>
      <th scope="col">Memory</th>
      <th scope="col">Storage</th>
      <th scope="col">CPU load</th>
      <th scope="col">Uptime (hh:mm:ss)</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(content|length) %}
      {% if i is divisibleby 5 %}
        <tr>
          <th scope="row">{{content[i]}}</th> 
      {% elif (i+1) is divisibleby 5 %}
          <td>{{content[i]}}</td>
        </tr>
      {% else %}
          <td>{{content[i]}}</td>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
