{% extends "base.html" %}
{% block title %}Group 5{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Server IP</th>
      <th scope="col">Memory</th>
      <th scope="col">Storage</th>
      <th scope="col">CPU load</th>
      <th scope="col">Uptime (hh:mm:ss)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{content[0]}}</th>
      <td>{{content[1]}}</td>
      <td>{{content[2]}}</td>
      <td>{{content[3]}}</td>
      <td>{{content[4]}}</td>
    </tr>
    <tr>
      <th scope="row">{{content[5]}}</th>
      <td>{{content[6]}}</td>
      <td>{{content[7]}}</td>
      <td>{{content[8]}}</td>
      <td>{{content[9]}}</td>
    </tr>
    <tr>
      <th scope="row">{{content[10]}}</th>
      <td>{{content[11]}}</td>
      <td>{{content[12]}}</td>
      <td>{{content[13]}}</td>
      <td>{{content[14]}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
