{% extends "base.html" %}
{% block title %}Group 5{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Server</th>
      <th scope="col">Memory</th>
      <th scope="col">Storage</th>
      <th scope="col">CPU load</th>
      <th scope="col">Uptime (hh:mm:ss)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{content[0]}}</th>
      <td>{{content[1]}}</td>
      <td>{{content[2]}}</td>
      <td>{{content[3]}}</td>
      <td>{{content[4]}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
